@font-face {
    font-family: bm_space;
    src: url(/fonts/bm-space.ttf)
}

@font-face {
    font-family: font_04b03;
    src: url(/fonts/04b03.ttf)

}

@font-face {
    font-family: bm-japan;
    src: url(/fonts/bm-japan.ttf)
}

body{
    background-color: #260a34;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}
.game_canvas {

    background-color: #7d7da3 ;
    scale: 3;
}
